form{
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	background:orange;
	text-align: center;
	padding:20px;
}

.flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
}

.vine{
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	width:45%;
	background:grey;
	margin-bottom: 30px;
	padding:20px;
}

.user{
	vertical-align: middle;
	text-align: center;
}

.pic{
	width:70px;
}


